<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- cadena de coneccion para MS Access -->
		<add name="msaccess"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\basedatos.mdb;"
         providerName="System.Data.OleDb" />
	</connectionStrings>
</configuration>